@media screen and (max-width: 767px) {
    /* navbar start */
    nav ul.navbar-nav li{
        text-align: center;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    /* navbar end */
    /* home section start */
    .header-content h1{
        font-size: 30px;
    }
    /* home section animation */
.header-content h1{
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.group-word{
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 202px;
    height: 36px;
    top: -2px;
    animation: openclose 8s ease infinite;
    font-weight: 400;
    /* background-color: #000; */
}
.words{
    position: absolute;
    display: block;
    top: 0px;
    text-align: left;
    width: 270px;
    animation: word 8s infinite;
}


.group-word::after{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}
@keyframes openclose{
    0%{
        width: 202px;
    }
    10%{
        width: 202px;
    }
    20%{
        width: 2px;
    }
    23%{
        width: 2px;
    }
    30%{
        width: 162px;
    }
    40%{
        width: 162px;
    }
    60%{
        width: 2px;
    }
    63%{
        width: 2px;
    }
    70%{
        width: 144px;
    }
    80%{
        width: 144px;
    }
    90%{
        width: 2px;
    }
    93%{
        width: 2px;
    }
    100%{
        width: 202px;
    }
}
@keyframes word{
        0%{
        top: 0px;
    }
    10%{
        top: 0px;
    }
    15%{
        top: 0px;
    }
    18%{
        top: 0px;
    }
    22%{
        top: -36px;
    }
    30%{
        top: -36px;
    }
    40%{
        top: -36px;
    }
    55%{
        top: -36px;
    }
    58%{
        top: -36px;
    }
    62%{
        top: -72px;
    }
    70%{
        top: -72px;
    }
    80%{
        top: -72px;
    }  
    90%{
        top: -72px;
    }
    93%{
        top: 0px;
    }
    95%{
        top: 0px;
    }
    100%{
        top: 0px;
    }
}
/* home section animation */
    /* home section end */
    /* about section start */
    .about-img{
        width: 90%;
        margin: auto;
    }
    .works-card .card-content .layer{
        width: 94%;
        height: 93%;
    }
    /* about section end */
    /* team section start */
    .team-cards .layer{
        width: 98%;
        height: 98%;
    }
    .team-cards .layer ul {
        align-items: flex-start !important;
        padding-top: 150px;
    }
    /* team section end */
}